@model Application.Features.Dashboards.Queries.GetDashboard.GetDashboardQueryResponse
@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mt-2">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-3">
            <i class="fas fa-user-plus fa-3x"></i>
          </div>
          <div class="col-9">
            <div class="text-uppercase mb-2">İçerideki Çalışan Sayısı</div>
            <div class="h3 mb-0 font-weight-bold">@Model.NumberOfEmployeesInTheWorkplace</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mt-2">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-3">
            <i class="fa-solid fa-user-xmark fa-3x"></i>
            </div>
          <div class="col-9">
            <div class="text-uppercase mb-2">Gelmeyen Çalışan Sayısı</div>
            <div class="h3 mb-0 font-weight-bold">@Model.NumberOfEmployeesNotAtWork</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mt-2">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-3">
            <i class="fas fa-users fa-3x"></i>
          </div>
          <div class="col-9">
            <div class="text-uppercase mb-2">Toplam Çalışan Sayısı</div>
            <div class="h3 mb-0 font-weight-bold">@Model.TotalEmployees</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mt-2">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-3">
            <i class="fas fa-money-bill-alt fa-3x"></i>
          </div>
          <div class="col-9">
            <div class="text-uppercase mb-2">Toplam Ödenen Para</div>
            <div class="h3 mb-0 font-weight-bold">@Model.AllTimeSalary ₺</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>